In [12]:
import pandas as pd
import numpy as np
fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines= False)
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [29]:
# computing the lowest average
a = fuel_data['fuel_cost_per_unit_burned'].groupby(fuel_data['fuel_type_code_pudl'])

print(a.mean())
print('the minimum value is ', a.mean().idxmin())

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64
the minimum value is  gas

In [40]:
#Computing the standard deviation and 75%
descri = fuel_data.loc[:, 'fuel_mmbtu_per_unit'].describe()
print(descri)
print(round(descri, 2))
print('The standard deviation is', round(fuel_data.loc[:, 'fuel_mmbtu_per_unit'].std(), 2))
print('The 75 percentile is ', round(fuel_data.loc[:, 'fuel_mmbtu_per_unit'].quantile(.75), 2))

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64
count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64
The standard deviation is 10.6
The 75 percentile is  17.01

In [22]:
from scipy.stats import kurtosis
from scipy.stats import skew
ske = fuel_data.loc[:, 'fuel_qty_burned'].skew()
print(ske)
print('the skew is ', round(ske, 2)) # to two decimal place

15.851495469109503
the skew is  15.85

In [23]:
kut = fuel_data.loc[:, 'fuel_qty_burned'].kurtosis()
print(kut)
print('the kut is ', round(kut, 2)) # to two decimal place

651.3694501337732
the kut is  651.37

In [24]:
#check for the info
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [13]:
#check for missing values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
#  computing the percentage

new = fuel_data.loc[:, 'fuel_unit'].isnull().sum() # defining and assigning the missing variable row to new
# to get the total numbers of column in fuel_unit, we sum the total of both missing and filled row together
total = (fuel_data.loc[:, 'fuel_unit'].count() + fd.loc[:, 'fuel_unit'].isnull().sum()) # defining and assigning the total column to total

percentage = (new/total) * 100 # formula for computing the percentage

print('the percentage of missing row to total row is ', round(percentage, 3))

the percentage of missing row to total row is  0.61

In [28]:
# computing the correlation
fuel_data.corr()[4:5]

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.0,0.011007,-0.000437

In [30]:
# computing the percentage change
bif = fuel_data.groupby(['report_year', 'fuel_type_code_pudl']) ['fuel_cost_per_unit_burned'].sum() 
bif.loc[1994, 'coal'] #selecting the 1994 value of coal
bif.loc[1998, 'coal'] #selecting the 1998 value of coal

bif.perc = (bif.loc[1998, 'coal'] - bif.loc[1994, 'coal'])/bif.loc[1994, 'coal'] * 100 #using the matematical expression (new-old)/new *100 to compute the percentage
print(bif.perc)
print(' the percentage change is ', round(bif.perc)) #to two decimal place

-20.56765451826049
 the percentage change is  -21.0

In [31]:
# computing the highest average fuel cost per unit delivered
b = fuel_data['fuel_cost_per_unit_delivered'].groupby(fuel_data['report_year'])
print(b.mean())
print('the maximum value is ', b.mean().idxmax())

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64
the maximum value is  1997